.memory-game {
    text-align: center;
  }
  
  .memory-game .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .memory-game .card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .memory-game.card.flipped {
    transform: rotateY(180deg);
  }
  
  .memory-game .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .memory-game .card-front {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .memory-game  .card-front img {
    max-width: 80%;
    height: auto;
  }
  
  .memory-game .card-back {
    background: #61dafb;
    transform: rotateY(180deg);
  }
  